
@{
    ViewBag.Title = "ChefView";
    Layout = "~/Views/Shared/_ChefLayoutPage.cshtml";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3>
                                Chicken dish with per boiled egg
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="/Content/img/recepie/recpie_1.png" alt="">
                    </div>
                    <h3>Egg Manchurian</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    @Html.ActionLink("View Full Recipe", "Recepie1", "Home", new { @class = "line_btn" })                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="/Content/img/recepie/recpie_2.png" alt="">
                    </div>
                    <h3>Pure Vegetable Bowl</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    @Html.ActionLink("View Full Recipe", "Recepie2", "Home", new { @class = "line_btn" })
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="/Content/img/recepie/recpie_3.png" alt="">
                    </div>
                    <h3>Curry Ramen</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    @Html.ActionLink("View Full Recipe", "Recepie3", "Home", new { @class = "line_btn" })
                </div>
            </div>
        </div>
    </div>
</div>

