<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title-Sign Up</title>
    @*<meta charset="UTF-8">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<title>Sign Up</title>*@

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/RegistrationContent/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/RegistrationContent/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/RegistrationContent/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegistrationContent/js/main.js"></script>

</body>
</html>
