
@{
    ViewBag.Title = "AddIngredient";
    Layout = "~/Views/Shared/_ManagerLayoutPage.cshtml";
}

<div class="content">
    <br>
    <br>
    <br>
    <br>

    <form action="updateingredient.html">
        <div class="form-group">
            <input type="submit" value="Update Ingredient" />
        </div>
    </form>

    <form action="listingredient.html">
        <div class="form-group">
            <input type="submit" value="Ingredient List" />
        </div>
    </form>


</div>

